$black: #222831;
$grey: #393E46;
$til: #00ADB5;
$white: #EEEEEE;

$colors: (white:$white, grey:$grey, til:$til, black:$black);
$anchors: (s:start, c:center, e:end);
$dirs: (t:top, r:right, b:bottom, l:left);

input {
  all: unset;
}

body {
  background-color: $black;
}


.field {
  @extend .bg-grey;
  @extend .tx-white;
  @extend .br2;
  @extend .pd-1;
  @extend .roboto;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
  }
}


.button {
  display: flex;
  flex-direction: row;
  border-radius: .2em;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.wfill {
  width: 100%;
}

.hfill {
  height: 100%;
}

@for $i from 1 through 12 {
  .w#{$i} {
    width: #{$i * 1/12 * 100 * 1%};
  }
}

@for $i from 1 through 10 {
  .mg-#{$i} {
    margin: #{$i/10 * 5 * 1em};
  }
  .pd-#{$i} {
    padding: #{$i/10 * 5 * 1em};
  }
}

@each $k, $v in $dirs {
  @for $i from 1 through 10 {
    .mg#{$k}-#{$i} {
      margin-#{$v}: #{$i/10 * 5 * 1em};
    }
    .pd#{$k}-#{$i} {
      padding-#{$v}: #{$i/10 * 5 * 1em};
    }
  }
}


@each $k, $v in $colors {
  .bg-#{$k} {
    background-color: #{$v};
  }
  .tx-#{$k} {
    color: #{$v};
  }

  .button.bg-#{$k} {
    &:hover {
      background-color: darken($v, 10%);

    }
  }
}


.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

@each $k, $v in $anchors {
  .flal#{$k} {
    align-items: $v;
  }
  .flj#{$k} {
    justify-content: $v;
  }
}

@mixin flg($size) {
  flex-grow: $size;
}

@for $i from 1 through 10 {
  .flg#{$i} {
    @include flg($i);
  }
}

@for $i from 1 through 5 {
  .br#{$i} {
    border-radius: #{$i/10 * 1em};
  }
}

