input {
  all: unset;
}

body {
  background-color: #222831;
}

.button {
  display: flex;
  flex-direction: row;
  border-radius: 0.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  justify-content: center;
}

.wfill {
  width: 100%;
}

.hfill {
  height: 100%;
}

.mg-1 {
  margin: 0.5em;
}

.pd-1 {
  padding: 0.5em;
}

.mg-2 {
  margin: 1em;
}

.pd-2 {
  padding: 1em;
}

.mg-3 {
  margin: 1.5em;
}

.pd-3 {
  padding: 1.5em;
}

.mg-4 {
  margin: 2em;
}

.pd-4 {
  padding: 2em;
}

.mg-5 {
  margin: 2.5em;
}

.pd-5 {
  padding: 2.5em;
}

.mg-6 {
  margin: 3em;
}

.pd-6 {
  padding: 3em;
}

.mg-7 {
  margin: 3.5em;
}

.pd-7 {
  padding: 3.5em;
}

.mg-8 {
  margin: 4em;
}

.pd-8 {
  padding: 4em;
}

.mg-9 {
  margin: 4.5em;
}

.pd-9 {
  padding: 4.5em;
}

.mg-10 {
  margin: 5em;
}

.pd-10 {
  padding: 5em;
}

.mgt-1 {
  margin-top: 0.5em;
}

.pdt-1 {
  padding-top: 0.5em;
}

.mgt-2 {
  margin-top: 1em;
}

.pdt-2 {
  padding-top: 1em;
}

.mgt-3 {
  margin-top: 1.5em;
}

.pdt-3 {
  padding-top: 1.5em;
}

.mgt-4 {
  margin-top: 2em;
}

.pdt-4 {
  padding-top: 2em;
}

.mgt-5 {
  margin-top: 2.5em;
}

.pdt-5 {
  padding-top: 2.5em;
}

.mgt-6 {
  margin-top: 3em;
}

.pdt-6 {
  padding-top: 3em;
}

.mgt-7 {
  margin-top: 3.5em;
}

.pdt-7 {
  padding-top: 3.5em;
}

.mgt-8 {
  margin-top: 4em;
}

.pdt-8 {
  padding-top: 4em;
}

.mgt-9 {
  margin-top: 4.5em;
}

.pdt-9 {
  padding-top: 4.5em;
}

.mgt-10 {
  margin-top: 5em;
}

.pdt-10 {
  padding-top: 5em;
}

.mgr-1 {
  margin-right: 0.5em;
}

.pdr-1 {
  padding-right: 0.5em;
}

.mgr-2 {
  margin-right: 1em;
}

.pdr-2 {
  padding-right: 1em;
}

.mgr-3 {
  margin-right: 1.5em;
}

.pdr-3 {
  padding-right: 1.5em;
}

.mgr-4 {
  margin-right: 2em;
}

.pdr-4 {
  padding-right: 2em;
}

.mgr-5 {
  margin-right: 2.5em;
}

.pdr-5 {
  padding-right: 2.5em;
}

.mgr-6 {
  margin-right: 3em;
}

.pdr-6 {
  padding-right: 3em;
}

.mgr-7 {
  margin-right: 3.5em;
}

.pdr-7 {
  padding-right: 3.5em;
}

.mgr-8 {
  margin-right: 4em;
}

.pdr-8 {
  padding-right: 4em;
}

.mgr-9 {
  margin-right: 4.5em;
}

.pdr-9 {
  padding-right: 4.5em;
}

.mgr-10 {
  margin-right: 5em;
}

.pdr-10 {
  padding-right: 5em;
}

.mgb-1 {
  margin-bottom: 0.5em;
}

.pdb-1 {
  padding-bottom: 0.5em;
}

.mgb-2 {
  margin-bottom: 1em;
}

.pdb-2 {
  padding-bottom: 1em;
}

.mgb-3 {
  margin-bottom: 1.5em;
}

.pdb-3 {
  padding-bottom: 1.5em;
}

.mgb-4 {
  margin-bottom: 2em;
}

.pdb-4 {
  padding-bottom: 2em;
}

.mgb-5 {
  margin-bottom: 2.5em;
}

.pdb-5 {
  padding-bottom: 2.5em;
}

.mgb-6 {
  margin-bottom: 3em;
}

.pdb-6 {
  padding-bottom: 3em;
}

.mgb-7 {
  margin-bottom: 3.5em;
}

.pdb-7 {
  padding-bottom: 3.5em;
}

.mgb-8 {
  margin-bottom: 4em;
}

.pdb-8 {
  padding-bottom: 4em;
}

.mgb-9 {
  margin-bottom: 4.5em;
}

.pdb-9 {
  padding-bottom: 4.5em;
}

.mgb-10 {
  margin-bottom: 5em;
}

.pdb-10 {
  padding-bottom: 5em;
}

.mgl-1 {
  margin-left: 0.5em;
}

.pdl-1 {
  padding-left: 0.5em;
}

.mgl-2 {
  margin-left: 1em;
}

.pdl-2 {
  padding-left: 1em;
}

.mgl-3 {
  margin-left: 1.5em;
}

.pdl-3 {
  padding-left: 1.5em;
}

.mgl-4 {
  margin-left: 2em;
}

.pdl-4 {
  padding-left: 2em;
}

.mgl-5 {
  margin-left: 2.5em;
}

.pdl-5 {
  padding-left: 2.5em;
}

.mgl-6 {
  margin-left: 3em;
}

.pdl-6 {
  padding-left: 3em;
}

.mgl-7 {
  margin-left: 3.5em;
}

.pdl-7 {
  padding-left: 3.5em;
}

.mgl-8 {
  margin-left: 4em;
}

.pdl-8 {
  padding-left: 4em;
}

.mgl-9 {
  margin-left: 4.5em;
}

.pdl-9 {
  padding-left: 4.5em;
}

.mgl-10 {
  margin-left: 5em;
}

.pdl-10 {
  padding-left: 5em;
}

.bg-white {
  background-color: #EEEEEE;
}

.tx-white {
  color: #EEEEEE;
}

.bg-grey {
  background-color: #393E46;
}

.tx-grey {
  color: #393E46;
}

.bg-til {
  background-color: #00ADB5;
}

.tx-til {
  color: #00ADB5;
}

.bg-black {
  background-color: #222831;
}

.tx-black {
  color: #222831;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flals {
  align-items: start;
}

.fljs {
  justify-content: start;
}

.flalc {
  align-items: center;
}

.fljc {
  justify-content: center;
}

.flale {
  align-items: end;
}

.flje {
  justify-content: end;
}

.flg1 {
  flex-grow: 1;
}

.flg2 {
  flex-grow: 2;
}

.flg3 {
  flex-grow: 3;
}

.flg4 {
  flex-grow: 4;
}

.flg5 {
  flex-grow: 5;
}

.flg6 {
  flex-grow: 6;
}

.flg7 {
  flex-grow: 7;
}

.flg8 {
  flex-grow: 8;
}

.flg9 {
  flex-grow: 9;
}

.flg10 {
  flex-grow: 10;
}

.br1 {
  border-radius: 0.1em;
}

.br2 {
  border-radius: 0.2em;
}

.br3 {
  border-radius: 0.3em;
}

.br4 {
  border-radius: 0.4em;
}

.br5 {
  border-radius: 0.5em;
}

/*# sourceMappingURL=main.css.map */
